{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1>Lista de Salas</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descrição</th>
                <th scope="col">Capacidade</th>
                <th scope="col">Ativa</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for sala in salas %}
              <tr>
                <td>{{ sala.id }}</td>
                <td>{{ sala.tipo }}</td>
                <td>{{ sala.capacidade }}</td>
                <td>{{ sala.descricao }}</td>
                <td>{{ sala.ativa }}</td>
                <td>
                  <form action="{{ url_for('excluir_sala', sala_id=sala.id) }}" method="post" style="display:inline;">
                    <button class="btn btn-sm btn-dark" type="submit">Excluir</button>
                  </form>
                  <button class="btn btn-sm btn-dark" type="button" onclick="alert('Função não implementada')">Editar</button>
                  <form action="{{ url_for('desativar_sala', sala_id=sala.id) }}" method="post" style="display:inline;">
                    <button class="btn btn-sm btn-dark" type="submit">{{ 'Desativar' if sala.ativa == 'Sim' else 'Ativar' }}</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}