{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1>Reservas</h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
      </div>
      <div class="col">
        <button class="btn btn-dark" type="submit">Filtrar</button>
      </div>
    </div>
  </div>

{% endblock %}